<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MysqlDataBackupRestore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MysqlDataBackupRestore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MysqlDataBackupRestore.Properties.Settings>
            <setting name="AutoBackupKind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePortNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseHostIP" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocalComputer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttachEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkyDrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendMailToAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SendMailFromAddress" serializeAs="String">
                <value>petniadatabasebackup@gmail.com</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SkyDiveEmailID" serializeAs="String">
                <value />
            </setting>
            <setting name="SkyDrivePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SendMailPortNumber" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SendMailPassword" serializeAs="String">
                <value>!Q@W#E$R%1^8&amp;9*n)23(</value>
            </setting>
            <setting name="AutoBackupTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBackupSchedular" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBackupEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </MysqlDataBackupRestore.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MysqlDataBackupRestore.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </MysqlDataBackupRestore.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
